body {
  background-color: darkgrey !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey !important;
  margin-top: 80px;
}

.questionFooter {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 12px;
  align-items: center;
}

.quizCard {
  width: 30rem;
}

.quizAnswer :hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
  color: white;
}

.progress {
  background-color: blue !important;
  color: white !important;
}

.buttonRow {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
